* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 5px; 
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 24px;
  display: flex;
  justify-content: center;
  color: white;
  margin-bottom: 15px;
}

form {
  margin: 0 auto;
  margin-top: 20px;
  padding: 15px;
  width: 90%;
  max-width: 600px;
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  color: aliceblue;
  background-color: rgba(0, 0, 255, 0.217);
  box-shadow: 12px 8px 14px 3px rgba(0, 0, 0, 0.8);
  border-radius: 15px;
}

.form-label {
  font-size: 18px;
  text-align: center;
  margin-bottom: 6px;
  display: block;
  color: white;
}

input,
select {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 8px; 
  margin-bottom: 12px; 
  border: 2px solid greenyellow;
  border-radius: 4px;
  transition: border-color 0.3s ease-in-out;
  background-color: #fff;
}

input:hover,
select:hover {
  background-color: silver;
}

.btn {
  font-size: 18px; 
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #45a049;
}

.required-color {
  color: #ff4747;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 4px;
}

.success {
  border-color: green !important;
}

.error {
  border-color: red !important;
}

@media screen and (max-width: 768px) {
  form {
    padding: 10px;
  }
}
